<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>App Settings</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>Title</key>
                <string>App Settings</string>
                <key>File</key>
                <string>AppSettings</string>
                <key>FooterText</key>
                <string>Custom app settings from the app, HyperSlides is being used in.</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>Connection Settings</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>Server Environment</string>
                <key>Key</key>
                <string>server_override_mode</string>
                <key>DefaultValue</key>
                <string>eu</string>
                <key>Titles</key>
                <array>
                    <string>EU</string>
                    <string>SIN</string>
                    <string>CUSTOM</string>
                </array>
                <key>Values</key>
                <array>
                    <string>eu</string>
                    <string>sin</string>
                    <string>custom</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>Title</key>
                <string>Standalone Settings</string>
                <key>File</key>
                <string>Standalone</string>
                <key>FooterText</key>
                <string>Configure local standalone mode and presentation ID.</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>Title</key>
                <string>Custom Server Settings</string>
                <key>File</key>
                <string>CustomServer</string>
                <key>FooterText</key>
                <string>Used when Server Environment is set to Custom.</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Sentry Logging</string>
                <key>Key</key>
                <string>sentry_logging</string>
                <key>DefaultValue</key>
                <false />
            </dict>
        </array>
    </dict>
</plist>